nav{
    display:flex;
    justify-content: space-between;
    max-width: 1160px;
    width: 100%;
    align-items: center;
    
}

.categoryWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    gap:1rem;
    font-size:var(--heading-S);
    text-transform: capitalize;
    font-weight: bold;
}
.darkModeWrapper{
    width: 100%;
    display:flex;
    justify-content: end;
    max-width: 1100px;
    gap:.5rem;
    margin:98px auto;
    padding:16px 0;
    
}


.darkModeWrapper div{
    width: 50px;
    height: 30px;
    background-color: var(--violet);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 4px;
}

.darkModeWrapper div span{
    
    height: 20px;
    width: 20px;
    padding: 4px 0;
    border-radius: 50%;
    display: block;
    background-color: white;
    cursor: pointer;
}
@media screen and (max-width: 1000px){
    .darkModeWrapper{
        margin:40px auto;
        
    }
    .nav{
        padding: 0 64px;
    }
}
@media screen and (max-width: 600px){
    .darkModeWrapper{
        margin:40px auto;
        padding: 0 16px;
        margin:16px auto;
    }
    .categoryWrapper{
        font-size:18px;
    }
    .nav{
        padding:16px;
        
    }
    
}

