@font-face {
  font-family: 'Rubik Italic';
  src: url('../fonts/Rubik-Italic-VariableFont_wght.ttf');
  
}
@font-face {
  font-family: 'Rubik Medium';
  src: url('../fonts/Rubik-Medium.ttf');
}
@font-face {
  font-family: 'Rubik Regular';
  src: url('../fonts/Rubik-Regular.ttf');
}
@font-face {
  font-family: 'Rubik Bold';
  src: url('../fonts/Rubik-VariableFont_wght.ttf');
  font-weight: bold;
}

:root{
  --violet:#A729F5;
  --background:#F4f6fa;
  --accent:#FFFFFF;
  --gray:#626C7F;
  --image:url('./images/pattern-background-desktop-light.svg');
  --pattern:url('./images/pattern-background-desktop-light.svg');
  --text:#ABC1E1;
  --text-secondary:#626C7F;
  --light-gray:#F4f6fa;
  --white:#FFFFFF;
  --green:#26d782;
  --red:#EE5454;
  --heading-XL:144px;
  --heading-L:64px;
  --heading-M:36px;
  --heading-S:28px;
  --body-M:20px;
  --lead-M:150%;
  --html:#FFF1E9;
  --css:#E0FDEF;
  --javascript:#EBF0FF;
  --accessibility:#F6E7FF;
}
[data-theme='light']{
  --background:#F4f6fa;
  --accent:#ffffff;
  --text:#626C7F;
  --pattern:url('./images/pattern-background-desktop-light.svg');
}
[data-theme='dark']{
  --background:#313E51;
  --accent:#3B4D66;
  --text:#ffffff;
  --pattern:url('./images/pattern-background-desktop-dark.svg');
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Rubik Regular', sans-serif;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
button{
  position:relative;
  background-color: transparent;
  border:none;
  padding:0;
  margin:0;
  cursor: pointer;
  border:3px solid transparent;
}
@media screen and (max-width:1000px){
  :root{
    --pattern: url('./images/pattern-background-tablet-light.svg');
  }
  [data-theme='dark']{
    --pattern: url('./public/images/pattern-background-tablet-dark.svg');
  }
  
}

@media screen and (max-width:600px){
  :root{
    --pattern: url('./images/pattern-background-mobile-light.svg');
  }
  [data-theme='dark']{
    --pattern: url('./images/pattern-background-mobile-dark.svg');
  }
  
}



